In [2]:
%load_ext sql
%sql sqlite:///PS2.db

Problem Set #2
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on the class website. Follow the instructions on the file! Upload the file at Canvas (under PS2).


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [24 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [4]:
%sql select * from hospital limit 2;

 * sqlite:///PS2.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-1')]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition doesn't hold, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [14 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [3]:
%%sql WITH S AS (SELECT COUNT(hospital) AS count 
                 FROM hospital 
                 GROUP BY provider)
        SELECT * FROM S WHERE S.count > 1;

 * sqlite:///PS2.db
Done.

[(25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (25,),
 (28,),
 (28,),
 (25,),
 (25,),
 (25,),
 (25,),
 (28,),
 (25,),
 (25,),
 (20,),
 (17,),
 (5,),
 (25,),
 (13,),
 (20,),
 (2,),
 (18,),
 (18,),
 (2,)]

In [11]:
%sql SELECT sql FROM sqlite_master WHERE name = 'Hospital';

 * sqlite:///PS2.db
Done.

[]

In [1]:
%%sql
WITH C AS 
(SELECT COUNT(*) AS h
FROM Hospital 
GROUP BY provider)
SELECT *
FROM C
WHERE C.h>1;

UsageError: Cell magic `%%sql` not found.

In [12]:
%sql PRAGMA table_info(Hospital);

 * sqlite:///PS2.db
Done.

[(0, 'provider', 'integer', 0, None, 0),
 (1, 'hospital', 'varchar(100)', 0, None, 0),
 (2, 'address', 'varchar(100)', 0, None, 0),
 (3, 'city', 'varchar(100)', 0, None, 0),
 (4, 'state', 'varchar(10)', 0, None, 0),
 (5, 'zip', 'integer', 0, None, 0),
 (6, 'county', 'varchar(100)', 0, None, 0),
 (7, 'phone_number', 'integer', 0, None, 0),
 (8, 'hospital_type', 'varchar(200)', 0, None, 0),
 (9, 'hospital_owner', 'varchar(400)', 0, None, 0),
 (10, 'emergency_service', 'varchar(1000)', 0, None, 0),
 (11, 'condition', 'text', 0, None, 0),
 (12, 'measure_code', 'text', 0, None, 0)]

In [13]:
%%sql
SELECT *
FROM hospital h1, hospital h2 
WHERE h1.provider = h2.provider 
      AND (h1.hospital <> h2.hospital 
           OR h1.address <> h2.address 
           OR h1.city <> h2.city
           OR h1.state <> h2.state
           OR h1.zip <> h2.zip 
           OR h1.county <> h2.county 
           OR h1.phone_number <> h2.phone_number 
           OR h1.hospital_type <> h2.hospital_type 
           OR h1.hospital_owner <> h2.hospital_owner 
           OR h1.emergency_service <> h2.emergency_service
           OR h1.condition <> h2.condition 
           OR h1.measure_code <> h2.measure_code)
LIMIT 3;

 * sqlite:///PS2.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-1'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-3')]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [16]:
%%sql
SELECT *
FROM hospital h1, hospital h2 
WHERE h1.zip = h2.zip
      AND (h1.city <> h2.city
           OR h1.state <> h2.state)
LIMIT 3;

 * sqlite:///PS2.db
Done.

[]

Problem 2: Superkeys & Decompositions [40 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [8 points]

Is it correct that ${A,B}$ is a superkey?

In [ ]:
answer = True
explanation = "{AB}+ = {ABCDEF},and it includes all attributes, so A,B is a superkey."

### Part (b) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

In [ ]:
answer = False
explanation = "Chase Algorithm,there is not a row without subscripts. Therefore,this decompostion is not lossless-join.  "

### Part (c) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

In [ ]:
answer = False
explanation = "R{ABC} with FDS: A->C(F1);R{CDE} with FDS: D->C(F2);R{EFA} with FDS: A->E(F3),A->F(F4); And the original FDS:A->D;D->F are not included in {F1,F2,F3,F4}+, so it is not dependency preserving."

### Part (d) [8 points]

Is the functional dependency $\{A\} \rightarrow \{E,F\}$ logically implied by FDs present in the relation?

In [ ]:
answer = True
explanation = "A->D;D->F imply A->F. Therefore, {A}->{E,F}."

### Part (e) [8 points]

Is it correct that relation $S$ is in BCNF?

In [ ]:
answer = False
explanation= "Since the closure of {A} doesn't contain every attributes"

Problem 3: Relational Algebra [36 points]
---------

Consider the following relational schema for conference publications:
*  `Article(aid, title, year, confid, numpages)`
*  `Conference(confid, name, impact)`
*  `Author(aid, pid)`
*  `Person(pid, name, affiliation)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [9 points]

Output the name of every person affiliated with `UW-Madison` who has submitted at least one article in 2019.

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person\Join(\pi_{pid}(Author\Join(\pi_{aid}(\sigma_{year=2019}(Article)))))))$$

### Part (b) [9 points]

Output the names of the people who coauthored an article with `John Doe`. Be careful: a person cannot be coauthor with herself!

$$\pi_{name}(\sigma_{aid = Jaid}((Author\Join(\pi_{pid}(\sigma_{name\ne"John Doe"}(Person))))\times(\rho_{Jaid,Jpid}(Author\Join(\pi_{pid}(\sigma_{name="John Doe"}(Person))))))$$

$$\pi_{name}(\sigma_{aid = Jaid}((Author\Join(\pi_{pid}(\sigma_{name\ne"John Doe"}(Person))))\times(\rho_{Jaid,Jpid}(Author\Join(\pi_{pid}(\sigma_{name="John Doe"}(Person)))))))$$

### Part (c) [9 points]

Count how many articles were published during 2010-2020 by `John Doe`.

$$\gamma_{COUNT(aid)}(\pi_{aid}(\sigma_{year\ge2010 and year\le2020}(Article))\Join(Author\Join(\pi_{pid}(\sigma_{name="John Doe"}(Person)))))$$

### Part (d) [9 points]

Output the names of everyone who published an article in the conference `SIGMOD` in 2018, but not in 2019.

$$\pi_{name}(Person\Join((\pi_{pid}(Author\Join(\pi_{aid}(\sigma_{year=2018}(Article\Join(\pi_{confid}(\sigma_{name="SIGMOD"}(Conference))))))))-(\pi_{pid}(Author\Join(\pi_{aid}(\sigma_{year=2019}(Article\Join(\pi_{confid}(\sigma_{name="SIGMOD"}(Conference))))))))))$$

$$\pi_{airline}(Flights\Join((\pi_{departure-airport}(Flights)\Join_{departure-airport = aircode}\pi_{aircode}(\sigma_{state='WI'}(Airport)))\cup(\pi_{arrival-airport}(Flights)\Join_{arrival-airport = aircode}\pi_{aircode}(\sigma_{state='WI'}(Airport)))))$$